.container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container a {
    text-decoration: none;
  }

.container a:hover{
color:red;
}

#reg{
   text-align: center;
}  

h1 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
}

.btn:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
}

